.advertisement {
  display: inline-block;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;


  &__info {
    display: inline-block;
    width: 100%;

    h5 {
      display: inline-block;
      word-wrap: break-word;
      letter-spacing: 2px;
      line-height: 1.8;
      margin: 0;
    }

    i {
      display: inline-block;
      font-size: 30px;
      float: right;
      cursor: pointer;
      font-weight: 700;
    }

  }
}