.filters {
  h4 {
    border-bottom: 1px solid #E5E5E5;
  }

  &__categories {
    button {
      display: block;
      margin: 0.25em 0px;
      padding: 0.25rem 0px;
      text-transform: capitalize;
      background: transparent;
      border-top: none;
      border-right: none;
      border-left: none;
      border-image: initial;
      border-bottom: 1px solid transparent;

    }
      .active {
        color: #5c636a;
      }
  }


}