.header__middle-bag {
  position: relative;

  &-cart {
    //cursor: pointer;
    i {
      color: black;

      &:hover {
        color: #6c757d;
        transition: .2s linear;
      }
    }

  }

  &-dropdown {
    background-color: white;
    border: solid 1px #6c757d;
    width: 350px;
    position: absolute;
    z-index: 2000;
    animation: moveInBottom .2s ease-out;
    animation-fill-mode: backwards;
    right: -150px;
    margin-top: 9px;

    &-top {
      display: inline-block;
      width: 100%;
      background-color: #212529;
      color: white;
      text-align: center;

      h4 {
        margin: 0;
        display: inline-block;
        letter-spacing: 3px;
        line-height: 1.9;
      }

      .bi-x {
        display: inline-block;
        font-size: 30px;
        float: right;
        cursor: pointer;
        font-weight: 700;
        color: white;
        padding: 0 10px;
      }
    }

    &-buttons {
      padding: 15px;

      div:nth-child(1) {
        display: inline-block;
        width: 100%;

        h6 {
          float: left;
          margin: 0;
        }

        p {
          float: right;
          margin: 0;
        }
      }

      button {
        width: 100%;
      }
    }


    &-items {
      max-height: 200px;
      overflow-y: auto;

      &-normal {
        display: inline-block;
        width: 45%;

        p {
          margin: 0;
        }
      }

      &-discount {
        display: inline-block;
        width: 45%;
        margin: 0;
        padding: 5px 0;

        p {
          display: inline-block;
          text-decoration: line-through;
          margin: 0;
        }

        span {
          display: inline-block;
          font-size: 18px;
          color: red;
          font-weight: bold;
        }
      }

      &-amount {
        display: inline-block;
        width: 25%;
        margin: 0;
        padding: 5px 0;

        i {
          display: inline;
          cursor: pointer;
          padding: 9px;
        }

        .bi-caret-left {
          font-size: 16px;
        }

        .bi-caret-right {
          font-size: 16px;
        }
        p {
          display: inline;
          font-size: 16px;
          margin: 0;
        }
      }

      ul {
        display: inline-block;
        width: 100%;
        padding: 5px;


        li {
          display: inline-block;
          font-size: 14px;
          width: 100%;
          padding: 5px;
          border-bottom: 1px solid #E5E5E5;

          img {
            display: inline-block;
            width: 20%;
            float: left;
          }

          h6 {
            display: inline-block;
            width: 70%;
          }


          .bi-x {
            display: inline-block;
            width: 8%;
            float: right;
            line-height: 2.4;
            font-size: 25px;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }




    }
  }
}