
.header {

    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
    }

  &__middle {
    padding: 10px 0;

    img {
      width: 100px;
    }

    .form-control:focus {
      color: #343a40;
      border: 1px solid #E5E5E5;
      outline: 0;
      box-shadow: none;
    }

    &-cart {
      display: inline-block;
      float: right;
      width: 100%;

      li {
        display: inline-block;
        float: left;
        padding: 0 10px;

        i {
          position: relative;

          span {
            font-style: normal;
            position: absolute;
            right: -15px;
            top: -3px;
            height: 16px;
            width: 18px;
            background: #000000;
            color: #ffffff;
            border-radius: 50%;
            font-size: 11px;
            font-weight: 600;
            text-align: center;
            line-height: 15px;
          }
        }
      }


      &-price {
        font-weight: bold;
      }
    }


  }

  &__top {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    height: 40px;

    span {
      padding-top: 8px;
      padding-bottom: 9px;
      padding-right: 10px;
    }

    i {
      padding: 8px;
    }

    .navbar {
      padding-top: 0;
      padding-bottom: 0;
    }

    &-contact {
      float: left;

      &-email {
        float: left;
        border-right: 1px solid #E5E5E5;
        padding-top: 5px;
        padding-bottom: 10px;
      }

      &-phone {
        float: left;
        padding-top: 5px;
        padding-bottom: 10px;
      }
    }

    &-social {
      float: right;
      padding-top: 5px;
      padding-bottom: 10px;
      padding-right: 20px;
    }

    &-profile {
      float: right;
      border-left: 1px solid #E5E5E5;
      padding-top: 5px;
      padding-bottom: 10px;
    }

  }

}