
.header {

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  &__middle {
    padding: 10px 0;

    img {
      width: 100px;
    }

    .form-control:focus {
      color: #343a40;
      border: 1px solid #E5E5E5;
      outline: 0;
      box-shadow: none;
    }

    &-cart {
      display: inline-block;
      float: right;
      width: 100%;
      padding: 0;

      li {
        display: inline-block;
        float: left;
        padding: 0 10px;

        i {
          position: relative;
          font-size: 25px;

          span {
            font-style: normal;
            position: absolute;
            right: -15px;
            top: -3px;
            height: 16px;
            width: 20px;
            background: #000000;
            color: #ffffff;
            border-radius: 50%;
            font-size: 11px;
            font-weight: 600;
            text-align: center;
            line-height: 15px;
          }
        }
      }


      &-price {
        font-weight: bold;
        line-height: 2.3;
        font-size: 18px;
      }
    }


  }

  &__top {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    height: 60px;

    &-con {
      height: 60px;
      width: 100%;
      display: inline-block;


      i {
        display: inline-block;
        font-size: 20px;
      }

      &-contact {
        height: inherit;
        display: inline-block;
        float: left;
        line-height: 60px;


        i {
          padding: 0 10px;
          display: inline-block;
        }

        span {
          display: inline-block;
          padding-right: 10px;
        }

        &-email {
          height: inherit;
          display: inline-block;
          float: left;
          border-right: 1px solid #E5E5E5;
        }

        &-phone {
          height: inherit;
          display: inline-block;
          float: left;

        }
      }

      &-social {
        display: inline-block;
        float: right;
        padding-right: 20px;
        line-height: 60px;

        i {
          padding: 0 10px;
        }
      }

      &-profile {
        display: inline-block;
        cursor: pointer;
        float: right;
        border-left: 1px solid #E5E5E5;
        height: inherit;
        padding-left: 20px;

        i {
          padding: 0 10px;
          color: black;
          font-size: 40px;

          &:hover {
            color: #6c757d;
            transition: .2s linear;
          }
        }
      }
    }


  }

}