.header__middle-cart {
  position: relative;

  .header__middle-heart {

    &-list {
      cursor: pointer;
    }

    &-dropdown {
      background-color: white;
      border: solid 1px #6c757d;
      width: 350px;
      position: absolute;
      z-index: 2000;
      animation: moveInBottom .2s ease-out;
      animation-fill-mode: backwards;
      right: 50px;
      margin-top: 9px;

      &-top {
        display: inline-block;
        width: 100%;
        background-color: #212529;
        color:white;
        text-align: center;

        h4 {
          margin: 0;
          display: inline-block;
          letter-spacing: 3px;
          line-height: 1.9;
        }

        i {
          display: inline-block;
          font-size: 30px;
          float: right;
          cursor: pointer;
          font-weight: 700;
          color:white;
          padding: 0 10px;
        }
      }

      &-items {
        max-height: 250px;
        overflow-y: auto;

        ul {
          padding: 5px;

          h5 {
            text-align: center;
          }

          li {
            display: inline-block;
            font-size: 14px;
            width: 100%;
            padding: 5px;
            border-bottom: 1px solid #E5E5E5;

            img {
              width: 20%;
              float: left;
            }

            div {
              width: 70%;
              float: left;

              p {
                margin: 0;
              }
            }

            i {
              width: 8%;
              float: right;
              line-height: 2.4;
              font-size: 25px;
              font-weight: bold;
              cursor: pointer;
              color: #000000;
            }
          }
        }
      }
    }
  }

}