{% extends 'admin/index.html.twig' %}

{% block title %}Create User{% endblock %}

{% block body %}

    <div class="container">
        <h1>Create User</h1>
        <form action="{{ path('admin_users_store') }}" method="POST">
            <div class="row">
                <div class="col-md-6">

                    <label for="n" class="form-label">Name</label>
                    <input class="form-control" type="text" name="n" id="n">
                    <label for="s" class="form-label">Surname</label>
                    <input class="form-control" type="text" name="s" id="s">
                    <label for="e" class="form-label">E-mail</label>
                    <input class="form-control" type="text" name="e" id="e">
                    <label for="r" class="form-label">Roles</label>
                    <select class="form-select" name="r" aria-label="User roles">
                        <option value="ROLE_ADMIN">Admin</option>
                        <option value="ROLE_REGISTERED">Registered</option>
                    </select>

                    <div class="mt-2">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Password
                        </button>
                    </div>
                    <div class="collapse mt-2" id="collapseExample">
                        <label for="user_password" class="form-label">Password</label>
                        <input class="form-control" type="password" name="user_password" id="user_password">
                        <label for="user_password_repeat" class="form-label">Repeat password</label>
                        <input class="form-control" type="password" name="user_password_repeat"
                               id="user_password_repeat">
                    </div>

                </div>
                <div class="col-md-6 mt-2">
                    {% include 'validations/validation.html.twig' %}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-outline-success me-2">Save</button>
                        <a class="btn btn-outline-secondary me-2" href="{{ path('admin_users') }}">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}